.card {
  padding: 0 !important;
}

.avatar.xl {
  width: 5rem;
  height: 5rem;
  font-size: 1.09375rem;
}

.avatar img {
  max-width: 100%;
  display: block;
}

.rounded-circle {
  border-radius: 50% !important;
}

.rounded-circle {
  border-radius: 50% !important;
}

.bg-opacity-10 {
  --bs-bg-opacity: 0.1;
}

.bg-gray {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-gray-rgb), var(--bs-bg-opacity)) !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.mt-n5 {
  margin-top: -1.5rem !important;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.position-relative {
  position: relative !important;
}

.d-block {
  display: block !important;
}

.ui-w-80 {
  width: 80px !important;
  height: auto;
}

.btn-default {
  border-color: rgba(24, 28, 33, 0.1);
  background: rgba(0, 0, 0, 0);
  color: #4e5155;
}

label.edit_btn {
  margin-bottom: 0;
}

.btn-outline-primary {
  border-color: #26b4ff;
  background: transparent;
  color: #26b4ff;
}

.edit_btn {
  cursor: pointer;
}

.text-light {
  color: #babbbc !important;
}

.btn-facebook {
  border-color: rgba(0, 0, 0, 0);
  background: #3b5998;
  color: #fff;
}

.btn-instagram {
  border-color: rgba(0, 0, 0, 0);
  background: #000;
  color: #fff;
}

.edit_card {
  background-clip: padding-box;
  box-shadow: 0 1px 4px rgba(24, 28, 33, 0.012);
}

.row-bordered {
  overflow: hidden;
}

.community-fileinput {
  position: absolute;
  visibility: hidden;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.community-links .list-group-item.active {
  font-weight: bold !important;
}

html:not(.dark-style) .community-links .list-group-item.active {
  background: transparent !important;
}

.community-multiselect ~ .select2-container {
  width: 100% !important;
}

.light-style .community-links .list-group-item {
  padding: 0.85rem 1.5rem;
  border-color: rgba(24, 28, 33, 0.03) !important;
}

.light-style .community-links .list-group-item.active {
  color: #4e5155 !important;
}

.material-style .community-links .list-group-item {
  padding: 0.85rem 1.5rem;
  border-color: rgba(24, 28, 33, 0.03) !important;
}

.material-style .community-links .list-group-item.active {
  color: #4e5155 !important;
}

.dark-style .community-links .list-group-item {
  padding: 0.85rem 1.5rem;
  border-color: rgba(255, 255, 255, 0.03) !important;
}

.dark-style .community-links .list-group-item.active {
  color: #fff !important;
}

.light-style .community-links .list-group-item.active {
  color: #4e5155 !important;
}

.light-style .community-links .list-group-item {
  padding: 0.85rem 1.5rem;
  border-color: rgba(24, 28, 33, 0.03) !important;
}
