{% macro print_card(info) %}
<div class="card1 p-10">
    <div class="title">
        <div class="title_left">
            <span class="bar">
                <!-- <img class="bar_img" src="./header/tecj.jpeg" /> -->
            </span>
            <span>
                {{info.title}}
            </span>
        </div>

        <a class="title_btn" href="/communities/createCard?component={{info.title}}">
            Join
        </a>
    </div>
    <div class="card1_text">
        The tech community component is a platform for tech enthusiasts, professionals, and users to
        share and discuss tech-related topics. This community may include discussions on the latest tech
        trends, coding tutorials, hardware reviews, and experiences in tech entrepreneurship.
    </div>
    <div class="card1_list">
        <div class="card1_list_item">
            <div class="item_text">121K</div>
            <div>Members</div>
        </div>
        <div class="card1_list_item">
            <div class="item_text">102</div>
            <div>
                <span class="green">

                </span>
                <span>Online</span>
            </div>
        </div>
    </div>
</div>
{% endmacro %}