{% macro render_community_item(item, user) -%}
<div class="col-xl-4 col-md-4 mb-3 mb-lg-5">
  <!--Card-->
  <div class="card community-card overflow-hidden text-center">
    <img
      src="https://i.ibb.co/8BqFFVk/111-Photoroom.jpg"
      class="card-img-top img-fluid"
      alt=""
    />

    <!--Card body-->
    <div class="card-body p-0">
      <!--avatar-->
      <a
        href="{{ url_for('index', community_id=item.id) }}"
        class="avatar xl rounded-circle bg-gray bg-opacity-10 p-1 position-relative mt-n5 d-block mx-auto"
      >
        <img
          src="{{ item.avatar_url }}"
          class="avatar-img img-fluid rounded-circle"
          alt="community-avatar"
        />
      </a>
      <h5 class="mb-0 pt-3">
        <a
          href="{{ url_for('index', community_id=item.id) }}"
          class="text-reset"
          >{{ item.name }}</a
        >
      </h5>
      <span class="text-muted small d-block mb-4 mt-3 mx-2"
        >{{ item.description|truncate(120, true, '...') }}</span
      >
      <div class="row mx-0 border-top border-bottom">
        <div class="col-6 text-center border-end py-3">
          <h5 class="mb-0">{{ item.posts }}</h5>
          <small class="text-muted">Posts</small>
        </div>
        <div class="col-6 text-center py-3">
          <h5 class="mb-0">{{ item.members }}</h5>
          <small class="text-muted">Members</small>
        </div>
      </div>
      <ul class="list-group list-group-flush">
        <li
          class="list-group-item px-3 d-flex align-items-center justify-content-between"
        >
          <span class="text-muted small">Creator</span>
          <strong>{{ item.creator.username }}</strong>
        </li>
        <li
          class="list-group-item px-3 d-flex align-items-center justify-content-between"
        >
          <span class="text-muted small">Create at</span>
          <small>{{ item.create_at }}</small>
        </li>
        <li
          class="list-group-item px-3 d-flex align-items-center justify-content-between"
        >
          <span class="text-muted small d-flex align-items-center">
            <span
              class="align-middle lh-1 me-1 size-5 border border-4 border-success rounded-circle d-inline-block"
            ></span>
            <strong> {{ item.category.name }}</strong>
          </span>
          <div class="text-end">
            {% if not item.joined %}
            <button
              class="btn btn-sm btn-primary"
              onclick="handle_join_community({{ item.id }})"
            >
              Join
            </button>
            {% else %}
            <button
              class="btn btn-sm btn-primary"
              onclick="handle_leave_community({{ item.id }})"
            >
              Leave
            </button>
            {% endif %} {% if item.creator.id == user.id %}
            <button
              class="btn btn-sm btn-warning"
              onclick="location.href='{{ url_for('community.community_management', community_id=item.id) }}'"
            >
              Edit
            </button>
            <button
              class="btn btn-sm btn-danger"
              onclick="handle_delete_community({{ item.id }})"
            >
              Delete
            </button>
            {% endif %}
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
{%- endmacro %}
