{% extends "layout.html" %} {% block title %}Community{% endblock %} {% block
head %} {{ super() }} {% endblock %} {% block content %} {% block css %}
<link
  rel="stylesheet"
  href="{{ url_for('community.static', filename='style/community.css') }}"
/>
{% endblock %}
<div class="">
  <!--  Re-Render -->
  <p class="d-none" id="render-id">{{ render_id }}</p>
  <p class="d-none" id="render-url">{{ render_url }}</p>

  <div
    id="communityAlert"
    class="sticky-top alert alert-danger alert-dismissible text-center fade show d-none"
    role="alert"
  ></div>

  <div id="community-list">{% include './communityList.html' %}</div>
</div>

{% block javascript %}
<script src="{{ url_for('community.static', filename='js/community.js') }}"></script>
{% endblock %} {% endblock %}
