{% extends "layout.html" %} {% block title %}Community{% endblock %} {% block
head %} {{ super() }} {% endblock %} {% block content %} {% block css %}
<link
  rel="stylesheet"
  href="{{ url_for('community.static', filename='style/community.css') }}"
/>
{% endblock %}
<div class="contain">
  <form
    class="create"
    action="{% if record_entity %}{{ url_for('community.update_community', community_id=record_entity.id) }}{% else %}{{ url_for('community.add_community') }}{% endif %}"
    method="post"
    id="createForm"
  >
    {{form.csrf_token}}
    <div class="card2">
      <div class="card2_title">
        <div class="card2_title_left_img"></div>
        <div class="card2_title_text" id="comunityTitle">
          {% if record_entity %}Edit{% else %}Create{% endif %} a community
        </div>
      </div>
      <div class="card2_desc">
        Build and grow a community about something you care about. We'll help
        you set things up.
      </div>
      <div id="form" class="form">
        <div class="one_input">
          <label for="name">Name</label>
          <input
            name="name"
            id="name"
            type="text"
            placeholder="name"
            value="{% if record_entity %}{{record_entity.name}}{% else %}{% endif %}"
          />
        </div>
        <div class="one_text">
          Choose wisely. Once you pick a name, it can't be changed
        </div>
        <div class="one_input">
          <label for="description">description</label>
          <input
            name="description"
            id="description"
            type="text"
            placeholder="description"
            value="{% if record_entity %}{{record_entity.description}}{% else %}{% endif %}"
          />
        </div>

        <div class="one_input">
          <label for="category_id">category</label>
          <select name="category_id" id="category_id"></select>
        </div>
      </div>
      <div class="bootom_btn">
        <!-- <div class="bootom_btn_item">Cancel</div> -->
        <button class="bootom_btn_item" id="submitBtn" type="submit">
          {% if record_entity %}Edit{% else %}Create{% endif %} your community
        </button>
      </div>
    </div>
  </form>
</div>
{% block javascript %}
<script src="{{ url_for('community.static', filename='js/community.js') }}"></script>
{% endblock %} {% endblock %}
