<div id="unread">
  <div
    class="p-3 d-flex align-items-center bg-light border-bottom osahan-post-header"
  >
    <div class="dropdown-list-image mr-3">
      <img
        class="rounded-circle"
        src="https://bootdey.com/img/Content/avatar/avatar3.png"
        alt=""
      />
    </div>
    <div class="font-weight-bold mr-3">
      <div class="text-truncate">DAILY RUNDOWN: WEDNESDAY</div>
      <div class="small">
        Income tax sops on the cards, The bias in VC funding, and other top news
        for you
      </div>
    </div>
    <span class="ml-auto mb-auto">
      <div class="btn-group">
        <button
          type="button"
          class="btn btn-light btn-sm rounded"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="fa-solid fa-ellipsis-vertical"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <button class="dropdown-item" type="button">
            <i class="mdi mdi-delete"></i> Delete
          </button>
          <button class="dropdown-item" type="button">
            <i class="mdi mdi-close"></i> Turn Off
          </button>
        </div>
      </div>
      <br />
      <div class="text-right text-muted pt-1">3d</div>
    </span>
  </div>
</div>
