[APP]
SECRET_KEY =  

[SQLITE]
DATABASE_URL =

[GOOGLE]
CLIENT_ID =
CLIENT_SECRET =
CALLBACK_URL =
AUTHORIZE_URL = https://accounts.google.com/o/oauth2/v2/auth
TOKEN_URL = https://oauth2.googleapis.com/token
USER_URL = https://www.googleapis.com/oauth2/v3/userinfo
SCOPES_PROFILE = https://www.googleapis.com/auth/userinfo.profile
SCOPES_EMAIL = https://www.googleapis.com/auth/userinfo.email

[GITHUB]
CLIENT_ID = 
CLIENT_SECRET = 
CALLBACK_URL = 
AUTHORIZE_URL =https://github.com/login/oauth/authorize
TOKEN_URL = https://github.com/login/oauth/access_token
USER_URL = https://api.github.com/user

[OPENAI]
API_KEY = 