{% macro render_contextTemplate(items) -%}
<div class="container custom-colors">
  <div class="gap_items">
    <div class="items-body">
      {% for data in items.data %}

      <div class="items-body-content">
        <span
          ><a
            href="{{url_for('post.post_detail', post_id=1)}}"
            class="text-reset text-decoration-none"
            >{{data.title}}</a
          ></span
        >
        <i class="fa fa-angle-right"></i>
      </div>

      {% endfor %}
    </div>
  </div>
  <div>{{items.page}}</div>
</div>
{%- endmacro %}
