{% extends "layout.html" %} {% block title %}User{% endblock %} {% block head %}
{{ super() }}<link
  rel="stylesheet"
  href="{{ url_for('user.static', filename='style/user.css') }}"
/>
{% endblock %} {% block content %}
<div
  id="profileAlert"
  class="sticky-top alert alert-danger alert-dismissible text-center fade show d-none"
  role="alert"
></div>
<div class="container light-style flex-grow-1 container-p-y">
  <h4 class="font-weight-bold py-3 mb-4">Account settings</h4>

  <div class="edit_card card overflow-hidden">
    <div class="row no-gutters row-bordered row-border-light">
      <div class="col-md-3 pt-0">
        <div class="list-group list-group-flush account-settings-links">
          <a
            class="list-group-item list-group-item-action active"
            data-bs-toggle="tab"
            href="#account-general"
            >General</a
          >
          <a
            class="list-group-item list-group-item-action"
            data-bs-toggle="tab"
            href="#account-change-password"
            >Change password</a
          >
          <a
            class="list-group-item list-group-item-action"
            data-bs-toggle="tab"
            href="#account-info"
            >Info</a
          >
        </div>
      </div>

      <div class="col-md-9">
        <div class="tab-content">
          <div class="tab-pane fade active show" id="account-general">
            <form
              action="{{url_for('user.profile')}}"
              method="post"
              id="general_profile"
            >
              {{ form.csrf_token and form.csrf_token(id='general_profile') }}
              <div class="card-body media align-items-center">
                <img
                  src="{{ user.avatar_url }}"
                  alt=""
                  class="d-block ui-w-80"
                />
                <div class="media-body ml-4">
                  <label class="btn edit_btn btn-outline-primary">
                    Upload new photo
                    <input
                      type="file"
                      class="account-settings-fileinput"
                      name="avatar"
                    />
                  </label>
                  &nbsp;
                  <button
                    type="button"
                    class="btn edit_btn btn-default md-btn-flat"
                  >
                    Reset
                  </button>

                  <div class="text-light small mt-1">
                    Allowed JPG, GIF or PNG. Max size of 800K
                  </div>
                </div>
              </div>
              <hr class="border-light m-0" />

              <div class="card-body">
                <div class="d-none" id="current_user">{{ user.username }}</div>
                <div class="form-group">
                  <label class="form-label">Username</label>
                  <input
                    type="text"
                    class="form-control mb-1"
                    value="{{ user.username }}"
                    name="name"
                    id="user_name"
                  />
                </div>
                <div class="form-group">
                  <div class="d-none" id="current_email">{{ user.email }}</div>
                  <label class="form-label">E-mail</label>
                  <input
                    type="text"
                    class="form-control mb-1"
                    {%
                    if
                    user.email
                    %}
                    value="{{ user.email }}"
                    {%
                    endif
                    %}
                    name="email"
                    id="user_email"
                  />
                </div>
                <div class="form-group">
                  <label class="form-label">Security Question</label>
                  <input
                    type="text"
                    class="form-control"
                    value="{{ user.security_question }}"
                    name="security_question"
                  />
                </div>
                <div class="form-group">
                  <label class="form-label">Security Answer</label>
                  <input
                    type="text"
                    class="form-control"
                    value="{{ user.security_answer }}"
                    name="security_answer"
                  />
                </div>
              </div>
              <div class="text-right mt-3">
                <button
                  type="submit"
                  class="btn edit_btn btn-primary button_style"
                >
                  Save changes
                </button>
                <button
                  type="button"
                  onclick="location.href='{{ url_for('user.user') }}'"
                  class="btn edit_btn btn-default button_style"
                >
                  Cancel
                </button>
              </div>
            </form>
          </div>

          <div class="tab-pane fade" id="account-change-password">
            <form
              action="{{url_for('user.change_password')}}"
              method="post"
              id="password_profile"
            >
              {{ form.csrf_token and form.csrf_token(id='password_profile') }}
              <div class="card-body pb-2">
                <div class="form-group">
                  <label class="form-label">Current password</label>
                  <input
                    type="password"
                    class="form-control"
                    name="current_password"
                  />
                </div>

                <div class="form-group">
                  <label class="form-label">New password</label>
                  <input
                    type="password"
                    class="form-control"
                    name="new_password"
                  />
                </div>

                <div class="form-group">
                  <label class="form-label">Repeat new password</label>
                  <input
                    type="password"
                    class="form-control"
                    name="repeat_password"
                  />
                </div>
              </div>
              <div class="text-right mt-3">
                <button
                  type="submit"
                  class="btn edit_btn btn-primary button_style"
                >
                  Save changes
                </button>
                <button
                  type="button"
                  onclick="location.href='{{ url_for('user.user') }}'"
                  class="btn edit_btn btn-default button_style"
                >
                  Cancel
                </button>
              </div>
            </form>
          </div>
          <div class="tab-pane fade" id="account-info">
            <div class="card-body pb-2">
              <div class="form-group">
                <label class="form-label">Bio</label>
                <textarea class="form-control" rows="5">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nunc arcu, dignissim sit amet sollicitudin iaculis, vehicula id urna. Sed luctus urna nunc. Donec fermentum, magna sit amet rutrum pretium, turpis dolor molestie diam, ut lacinia diam risus eleifend sapien. Curabitur ac nibh nulla. Maecenas nec augue placerat, viverra tellus non, pulvinar risus.</textarea
                >
              </div>
              <div class="form-group">
                <label class="form-label">Birthday</label>
                <input type="text" class="form-control" value="May 3, 1995" />
              </div>
              <div class="form-group">
                <label class="form-label">Country</label>
                <select class="custom-select">
                  <option>USA</option>
                  <option selected="">Canada</option>
                  <option>UK</option>
                  <option>Germany</option>
                  <option>France</option>
                </select>
              </div>
            </div>
            <hr class="border-light m-0" />
            <div class="card-body pb-2">
              <h6 class="mb-4">Contacts</h6>
              <div class="form-group">
                <label class="form-label">Phone</label>
                <input
                  type="text"
                  class="form-control"
                  value="+0 (123) 456 7891"
                />
              </div>
              <div class="form-group">
                <label class="form-label">Website</label>
                <input type="text" class="form-control" value="" />
              </div>
            </div>
          </div>

          <div class="tab-pane fade" id="account-notifications">
            <div class="card-body pb-2">
              <h6 class="mb-4">Activity</h6>

              <div class="form-group">
                <label class="switcher">
                  <input type="checkbox" class="switcher-input" checked="" />
                  <span class="switcher-indicator">
                    <span class="switcher-yes"></span>
                    <span class="switcher-no"></span>
                  </span>
                  <span class="switcher-label"
                    >Email me when someone comments on my article</span
                  >
                </label>
              </div>
              <div class="form-group">
                <label class="switcher">
                  <input type="checkbox" class="switcher-input" checked="" />
                  <span class="switcher-indicator">
                    <span class="switcher-yes"></span>
                    <span class="switcher-no"></span>
                  </span>
                  <span class="switcher-label"
                    >Email me when someone answers on my forum thread</span
                  >
                </label>
              </div>
              <div class="form-group">
                <label class="switcher">
                  <input type="checkbox" class="switcher-input" />
                  <span class="switcher-indicator">
                    <span class="switcher-yes"></span>
                    <span class="switcher-no"></span>
                  </span>
                  <span class="switcher-label"
                    >Email me when someone follows me</span
                  >
                </label>
              </div>
            </div>
            <hr class="border-light m-0" />
            <div class="card-body pb-2">
              <h6 class="mb-4">Application</h6>

              <div class="form-group">
                <label class="switcher">
                  <input type="checkbox" class="switcher-input" checked="" />
                  <span class="switcher-indicator">
                    <span class="switcher-yes"></span>
                    <span class="switcher-no"></span>
                  </span>
                  <span class="switcher-label">News and announcements</span>
                </label>
              </div>
              <div class="form-group">
                <label class="switcher">
                  <input type="checkbox" class="switcher-input" />
                  <span class="switcher-indicator">
                    <span class="switcher-yes"></span>
                    <span class="switcher-no"></span>
                  </span>
                  <span class="switcher-label">Weekly product updates</span>
                </label>
              </div>
              <div class="form-group">
                <label class="switcher">
                  <input type="checkbox" class="switcher-input" checked="" />
                  <span class="switcher-indicator">
                    <span class="switcher-yes"></span>
                    <span class="switcher-no"></span>
                  </span>
                  <span class="switcher-label">Weekly blog digest</span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% block javascript %}
<script
  type="module"
  src="{{ url_for('user.static', filename='js/profile.js') }}"
></script>
{% endblock %} {% endblock %}
