{% extends "layout.html" %} {% block title %}User{% endblock %} {% block head %}
{{ super() }}<link
  rel="stylesheet"
  href="{{ url_for('user.static', filename='style/user.css') }}"
/>
{% endblock %} {% block content %}
<div class="container">
  <div id="userHeader">
    <div class="row">
      <div class="col-4 text-center">
        <img
          class="avatar_style"
          src="{{ user.avatar_url }}"
          alt="user"
          width="200px"
        />
      </div>
      <div class="col-4">
        <h1>{{ user.username }}</h1>
        <div class="d-flex">
          <button class="button_style">Edit profile</button>
        </div>
        <div class="d-flex"></div>
      </div>
      <div class="col-4">
        <img
          src="{{ url_for('static', filename='assets/image/userpage1.png') }}"
          width="260px"
          alt="userpage1"
        />
      </div>
    </div>
  </div>
</div>

<!-- function tab & community card -->
<div class="row">
  <div class="col-8">
    <!-- function tab -->
    <div class="tabset">
      <!-- Tab 1 -->
      <input
        type="radio"
        name="tabset"
        id="tab1"
        aria-controls="posts"
        checked
      />
      <label for="tab1">Posts</label>
      <!-- Tab 2 -->
      <input type="radio" name="tabset" id="tab2" aria-controls="likes" />
      <label for="tab2">Likes</label>
      <!-- Tab 3 -->
      <input type="radio" name="tabset" id="tab3" aria-controls="history" />
      <label for="tab3">History</label>
      <!-- Tab 4 -->
      <input type="radio" name="tabset" id="tab4" aria-controls="WishList" />
      <label for="tab4">Wish List</label>

      <div class="tab-panels">
        <section id="posts" class="tab-panel">
          {% import 'context-display.html' as contextTemplate %} {{
          contextTemplate.render_contextTemplate(posts) }}
        </section>
        <section id="likes" class="tab-panel">
          {% import 'context-display.html' as contextTemplate %} {{
          contextTemplate.render_contextTemplate(likes) }}
        </section>
        <section id="history" class="tab-panel">
          {% import 'context-display.html' as contextTemplate %} {{
          contextTemplate.render_contextTemplate(history) }}
        </section>
        <section id="WishList" class="tab-panel">
          {% import 'context-display.html' as contextTemplate %} {{
          contextTemplate.render_contextTemplate(WishList) }}
        </section>
      </div>
    </div>
  </div>
  <!-- community card -->
  <div class="col-4 card_shadow_style">
    <div class="card basic_style">
      <div class="card-img-holder">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkS_oZwG3-XSRs68TNlFAkMjs-FlWhHYQOYnlTMFTJ1w&s0"
          alt="Blog image"
        />
      </div>
      <h3 class="community-title">Community Center</h3>
      <span class="community-time">starting your social travel here!</span>
      <p class="description">
        community center is a place where people can come together to work on
      </p>
      <div class="options">
        <span> Explore More </span>
        <button class="community-btn">Start</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
