{% extends "layout.html" %} {% block title %}User{% endblock %} {% block head %}
{{ super() }}<link
  rel="stylesheet"
  href="{{ url_for('user.static', filename='style/user.css') }}"
/>
{% endblock %} {% block content %}
<div class="container">
  <!--  Re-Render -->
  <p class="d-none" id="render-id">{{ render_id }}</p>
  <p class="d-none" id="render-url">{{ render_url }}</p>

  <div id="userHeader">
    <div class="row">
      <div class="col-3 d-flex justify-content-end">
        <img
          class="avatar_style"
          src="{{ user.avatar_url }}"
          alt="user"
          width="200px"
        />
      </div>
      <div class="col-3 text-center pt-5">
        <h1>{{ user.username }}</h1>

        <button class="button_style">Edit profile</button>

        <div class="d-flex"></div>
      </div>
      <div class="col-6 text-start">
        <section class="charts_orb">
          <article class="orb">
            <div class="orb_graphic">
              <svg>
                <circle class="fill"></circle>
                <circle class="progress"></circle>
              </svg>
              <div class="orb_value count">{{post_stat}}</div>
            </div>
            <div class="orb_label">Posts</div>
          </article>

          <article class="orb">
            <div class="orb_graphic">
              <svg>
                <circle class="fill"></circle>
                <circle class="progress"></circle>
              </svg>
              <div class="orb_value count">{{like_stat}}</div>
            </div>
            <div class="orb_label">Likes</div>
          </article>

          <article class="orb">
            <div class="orb_graphic">
              <svg>
                <circle class="fill"></circle>
                <circle class="progress"></circle>
              </svg>
              <div class="orb_value count">41</div>
            </div>
            <div class="orb_label">community</div>
          </article>

          <article class="orb">
            <div class="orb_graphic">
              <svg>
                <circle class="fill"></circle>
                <circle class="progress"></circle>
              </svg>
              <div class="orb_value count">52</div>
            </div>
            <div class="orb_label">Collects</div>
          </article>
        </section>
      </div>
    </div>
  </div>
</div>

<!-- function tab & community card -->
<div class="row">
  <div class="col-8">
    <!-- function tab -->
    <div class="tabset">
      <!-- Tab 1 -->
      <input
        type="radio"
        name="tabset"
        id="tab-posts"
        aria-controls="posts"
        checked
      />
      <label for="tab-posts" id="tab-label-posts">Posts</label>

      <!-- Tab 2 -->
      <input type="radio" name="tabset" id="tab-likes" aria-controls="likes" />
      <label for="tab-likes" id="tab-label-likes">Likes</label>

      <!-- Tab 3 -->
      <input
        type="radio"
        name="tabset"
        id="tab-histories"
        aria-controls="history"
      />
      <label for="tab-histories" id="tab-label-histories">History</label>

      <!-- Tab 4 -->
      <input
        type="radio"
        name="tabset"
        id="tab-wishes"
        aria-controls="WishList"
      />
      <label for="tab-wishes" id="tab-label-wishes">Wish List</label>

      <div class="tab-panels">
        <!-- Post List -->
        <section class="tab-panel">{% include 'userPostList.html' %}</section>

        <!-- Like List -->
        <section class="tab-panel">{% include 'userLikeList.html' %}</section>

        <!-- History List -->
        <section class="tab-panel">
          {% include 'userHistoryList.html' %}
        </section>

        <!-- Wish List -->
        <section class="tab-panel">{% include 'userWishList.html' %}</section>
      </div>
    </div>
  </div>

  <!-- community card -->
  <div class="col-4 card_shadow_style">
    <div class="card basic_style">
      <div class="card-img-holder">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkS_oZwG3-XSRs68TNlFAkMjs-FlWhHYQOYnlTMFTJ1w&s0"
          alt="Blog image"
        />
      </div>
      <h3 class="community-title">Community Center</h3>
      <span class="community-time">starting your social travel here!</span>
      <p class="description">
        community center is a place where people can come together to work on
      </p>
      <div class="options">
        <span> Explore More </span>
        <button class="button_style">Start</button>
      </div>
    </div>
  </div>
</div>

{% block javascript %}
<script
  type="module"
  src="{{ url_for('user.static', filename='js/user.js') }}"
></script>
{% endblock %} {% endblock %}
