{% extends "userProfileBase.html" %} {% block tabContent %}
<form
  action="{{url_for('user.user_password')}}"
  method="post"
  id="password_profile"
>
  {{ form.csrf_token and form.csrf_token(id='csrf_token_password') }}
  <div class="card-body pb-2">
    <div class="form-group">
      <label class="form-label">Current password</label>
      <input type="password" class="form-control" name="current_password" />
    </div>

    <div class="form-group">
      <label class="form-label">New password</label>
      <input type="password" class="form-control" name="new_password" />
    </div>

    <div class="form-group">
      <label class="form-label">Repeat new password</label>
      <input type="password" class="form-control" name="repeat_password" />
    </div>
  </div>
  <div class="text-right mt-3">
    <button type="submit" class="btn edit_btn btn-primary button_style">
      Save changes
    </button>
    <button
      type="button"
      onclick="location.href='{{ url_for('user.user') }}'"
      class="btn edit_btn btn-default button_style"
    >
      Cancel
    </button>
  </div>
</form>
{% endblock %}
