{% extends "userProfileBase.html" %} {% block tabContent %}
<div class="card-body pb-2">
  <div class="form-group">
    <label class="form-label">Bio</label>
    <textarea class="form-control" rows="5">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nunc arcu, dignissim sit amet sollicitudin iaculis, vehicula id urna. Sed luctus urna nunc. Donec fermentum, magna sit amet rutrum pretium, turpis dolor molestie diam, ut lacinia diam risus eleifend sapien. Curabitur ac nibh nulla. Maecenas nec augue placerat, viverra tellus non, pulvinar risus.</textarea
    >
  </div>
  <div class="form-group">
    <label class="form-label">Birthday</label>
    <input type="text" class="form-control" value="May 3, 1995" />
  </div>
</div>
<hr class="border-light m-0" />
<div class="card-body pb-2">
  <div class="form-group">
    <label class="form-label">Phone</label>
    <input type="text" class="form-control" value="+0 (123) 456 7891" />
  </div>
</div>
{% endblock %}
