.reply-container .replies { display: none; }
.reply-container .replies.hidden { display: none; }
.reply-container .replies.visible { display: block; }
.expanded { height: auto; }
.hidden { display: none; }

.btn-like-reply, .btn-save-reply, .btn-create-reply {
   background-color: #ec977d;
   color: white;
   border: none;
   padding: 0px 16px;
   margin-left: 0;
   border-radius: 4px;
   cursor: pointer;
}



.reply-container {
   border: 1px solid #ccc;
   margin-bottom: 10px;
   padding: 10px;
   border-radius: 5px;
   background-color: #f8f9fa;
}

.reply {
   padding-left: 20px;
}


.show-replies {
   background-color: transparent;
   border: none;
   color: #007bff;
   cursor: pointer;
   padding: 8px 15px;
   margin-top: 15px;
   display: block;
}