/* about the card css */
#post .card {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px auto; /* Center the card horizontally */
  max-width: 1300px; /* Set a maximum width to prevent full-width stretch */
  overflow: hidden;
  font-family: "Arial", sans-serif;
}

#post .card-header {
  background-color: #f7f7f7;
  border-bottom: 1px solid #eee;
  padding: 10px 15px;
}

#post .card-title {
  margin: 0;
  font-size: 40px;
  color: #509ea2;
}

#post .card-body {
  padding: 15px;
}

#post .card-subtitle {
  margin-top: 5px;
  font-size: 14px;
  color: #6c757d;
}

#post .card-text {
  margin-top: 40px;
  overflow: hidden;
  font-size: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 1.6em;
}

#post .card-text.expanded {
  display: block;
  height: auto;
}

.btn-like,
.btn-save,
.btn-create {
  background-color: #9fb6ce;
  color: white;
  border: none;
  font-size: smaller;
  padding: 4px 24px;
  margin-left: 0;
  border-radius: 4px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.blockquote-footer {
  text-align: right;
  font-style: italic;
  font-size: 12px;
  margin-top: 20px;
  padding-bottom: 10px;
}

.expand-button {
  background-color: transparent;
  border: none;
  color: #b1d0f1;
  cursor: pointer;
  padding: 8px 15px;
  margin-top: 15px;
  display: block;
}

.card-footer {
  background-color: #f7f7f7;
  border-top: 1px solid #eee;
  padding: 10px 15px;
  font-size: 14px;
}

.btn-edit-request,
.btn-delete-request {
  background-color: #add8e6;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}

.btn-edit-request:hover,
.btn-delete-request:hover {
  background-color: #87ceeb;
}

/* about the list and reply css */
.reply-container .replies {
  display: none;
}
.reply-container .replies.hidden {
  display: none;
}
.reply-container .replies.visible {
  display: block;
}
.expanded {
  height: auto;
}
.hidden {
  display: none;
}

.btn-like-reply,
.btn-save-reply,
.btn-edit-reply,
.btn-delete-reply,
.btn-create-reply {
  margin-top: 20px;
  background-color: #f0f2f4;
  color: rgb(205, 194, 194);
  border: none;
  padding: 2px 8px;
  margin-left: 0;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
}

.reply-container {
  border: 1px solid transparent;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #f9f7f7;
  position: relative;
}

.reply-container::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 10%; /* End line a bit higher to make it shorter */
  left: 0;
  width: 4px; /* Thicker line */
  background-color: #bcece7;
  border-radius: 5px; /* Rounded ends */
}

.reply {
  font-size: 20px;
  padding-left: 20px;
}

.show-replies {
  background-color: transparent;
  border: none;
  color: #bfd6ee;
  cursor: pointer;
  padding: 8px 15px;
  margin-top: 15px;
  display: block;
}

.reply-date {
  color: #d7b7b7;
}

h5.mb-1 {
  font-family: "Noto Serif", serif;
  padding-left: 20px;
}
