{% macro render_popular_item(item) -%} {% set _id = item.id %}
<div class="item d-flex align-items-center">
  <div class="image">
    <img
      src="{{ item.avatar }}"
      alt="popular-{{ item.id }}"
      class="img-fluid rounded-circle"
    />
  </div>
  <div class="text">
    <a
      href="javascript:void(0);"
      onclick="window.open('{{ url_for('post.post_detail', post_id=_id) }}', '_blank')"
    >
      <h3 class="h5">{{ item.title }}</h3></a
    ><small>Posted on {{ item.create_at }} by {{ item.author }} </small>
  </div>
</div>
{%- endmacro %}
