{% macro render_popular_item(item) -%} {% set _id = item.id %}
<div class="item d-flex align-items-center gap_line">
  <div class="image">
    <img
      src="{{ item.avatar }}"
      alt="popular-{{ item.id }}"
      class="img-fluid rounded-circle"
    />
  </div>
  <div class="text">
    <h6
      class="click-subtitle"
      onclick="window.open('{{ url_for('post.post_detail', post_id=_id) }}', '_blank')"
    >
      {{ item.title }}
    </h6>
    <div>
      <small>Posted on {{ item.create_at }} by {{ item.author }} </small>
    </div>
  </div>
</div>
{%- endmacro %}
