{% macro render_post_item(item, color_type) -%} {% set _id = item.id %} {% set
tag_random_int = range(1, 5) | random %}
<div
  class="postItem card border-color row-hover pos-relative pt-2 px-3 mb-3 border rounded-0"
>
  <div class="row align-items-center">
    <div class="col-md-8 mb-3 mb-sm-0">
      <span
        class="badge rounded-pill commmunityTag_style{{ tag_random_int }}  module-name mb-3"
        >{{ item.tag }}</span
      >
      <h5
        class="text-primary click-subtitle"
        onclick="location.href='{{ url_for('post.post_detail', post_id=_id) }}'"
      >
        {{ item.title }}
      </h5>
      <div>
        <small class="text-secondary"
          >Posted on {{ item.create_at }} by {{ item.author }}</small
        >
      </div>
    </div>

    <div class="col-md-4">
      <div class="row text-center align-items-center">
        <div class="col px-1">
          <div class="ion-ios-eye-outline icon-1x">
            <i class="fa-regular fa-comment-dots fa-sm icon_style"></i>
          </div>
          <span class="small_font_style">{{ item.reply_num }}</span>
        </div>
        <div class="col px-1">
          <div class="ion-ios-eye-outline icon-1x">
            <i class="fa-regular fa-eye fa-sm icon_style"></i>
          </div>
          <span class="d-block small_font_style">{{ item.view_num }}</span>
        </div>
        <div class="col px-1">
          <div class="ion-ios-eye-outline icon-1x">
            <i class="fa-regular fa-thumbs-up fa-sm icon_style"></i>
          </div>
          <span class="d-block small_font_style">{{ item.like_num }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
{%- endmacro %}
