{% macro render_post_item(item) -%} {% set _id = item.id %}
<div
  class="card row-hover pos-relative py-3 px-3 mb-3 border-warning border-top-0 border-right-0 border-bottom-0 rounded-0"
  onclick="window.open('{{ url_for('post.post_detail', post_id=_id) }}', '_blank')"
>
  <div class="row align-items-center">
    <div class="col-md-8 mb-3 mb-sm-0">
      <h5 class="text-primary">{{ item.title }}</h5>
      <div class="text-sm">
        <p class="op-6">Posted 1h ago by {{ item.author }}</p>
      </div>
      <div class="text-sm op-5">
        <p class="text-black mr-2">{{ item.category }}</p>
      </div>
    </div>
    <div class="col-md-4 op-7">
      <div class="row text-center op-7">
        <div class="col px-1">
          <i class="ion-ios-chatboxes-outline icon-1x"></i>
          <span class="d-block text-sm">{{ item.reply_num }} Replys</span>
        </div>
        <div class="col px-1">
          <i class="ion-ios-eye-outline icon-1x"></i>
          <span class="d-block text-sm">{{ item.view_num }} Views</span>
        </div>
        <div class="col px-1">
          <i class="ion-connection-bars icon-1x"></i>
          <span class="d-block text-sm">{{ item.like_num }} Likes</span>
        </div>
      </div>
    </div>
  </div>
</div>
{%- endmacro %}
