<div class="container">
  <div class="row row-cols-1 row-cols-md-2">
    <div class="col">
      <div
        class="stats_card radius-10 border-start border-0 border-3 border-info"
      >
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="mx-2">
              <p class="mb-0 text-secondary">Likes</p>
              <h4 class="my-1 stats-text">{{ stats.like_num }}</h4>
            </div>
            <div
              class="widgets-icons-2 rounded-circle bg-gradient-scooter text-white ms-auto"
            >
              <img
                src="https://pub-6a9854a0ccb24e21bc5c2722215877d6.r2.dev/like_stats.svg"
                alt="like-stats"
                class="img-fluid"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div
        class="stats_card radius-10 border-start border-0 border-3 border-info"
      >
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="mx-2">
              <p class="mb-0 text-secondary">Communities</p>
              <h4 class="my-1 stats-text">{{ stats.community_num }}</h4>
            </div>
            <div
              class="widgets-icons-2 rounded-circle bg-gradient-bloody text-white ms-auto"
            >
              <img
                src="https://pub-6a9854a0ccb24e21bc5c2722215877d6.r2.dev/community_stats.svg"
                alt="community-stats"
                class="img-fluid"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div
        class="stats_card radius-10 border-start border-0 border-3 border-info"
      >
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="mx-2">
              <p class="mb-0 text-secondary">Posts</p>
              <h4 class="my-1 stats-text">{{ stats.request_num }}</h4>
            </div>
            <div
              class="widgets-icons-2 rounded-circle bg-gradient-ohhappiness text-white ms-auto"
            >
              <img
                src="https://pub-6a9854a0ccb24e21bc5c2722215877d6.r2.dev/post_stats.svg"
                alt="post-stats"
                class="img-fluid"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div
        class="stats_card radius-10 border-start border-0 border-3 border-info"
      >
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="mx-2">
              <p class="mb-0 text-secondary">Users</p>
              <h4 class="my-1 stats-text">{{ stats.user_num }}</h4>
            </div>
            <div
              class="widgets-icons-2 rounded-circle bg-gradient-blooker text-white ms-auto"
            >
              <img
                src="https://pub-6a9854a0ccb24e21bc5c2722215877d6.r2.dev/user_stats.svg"
                alt="user-stats"
                class="img-fluid"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
