<div class="text-center">
  <div class="row justify-content-center gap-0 gap-md-2">
    <!-- User Item -->
    <div class="col-8 col-md-5 mini-stat clearfix bg-user stat-rounded">
      <span class="mini-stat-icon"
        ><i class="fa-solid fa-user fg-user"></i
      ></span>
      <div class="mini-stat-info">
        <span>{{ stats.user_num }}</span>
        User
      </div>
    </div>

    <!-- Community Item -->
    <div class="col-8 col-md-5 mini-stat clearfix bg-community stat-rounded">
      <span class="mini-stat-icon"
        ><i class="fa-solid fa-layer-group fg-community"></i
      ></span>
      <div class="mini-stat-info">
        <span>{{ stats.community_num }}</span>
        Community
      </div>
    </div>
  </div>

  <!-- Post Item -->
  <div class="row justify-content-center gap-0 gap-md-2">
    <div class="col-8 col-md-5 mini-stat clearfix bg-post stat-rounded">
      <span class="mini-stat-icon"
        ><i class="fa-solid fa-note-sticky fg-post"></i
      ></span>
      <div class="mini-stat-info">
        <span>{{ stats.request_num }}</span>
        Post
      </div>
    </div>

    <!-- Like Item -->
    <div class="col-8 col-md-5 mini-stat clearfix bg-like stat-rounded">
      <span class="mini-stat-icon"
        ><i class="fa-solid fa-thumbs-up fg-like"></i
      ></span>
      <div class="mini-stat-info">
        <span>{{ stats.like_num }}</span>
        Like
      </div>
    </div>
  </div>
</div>
