<!-- community result item -->
{% macro community_result_item(result) -%}
<div
  class="row flex-row text-center align-items-center mb-2"
  onclick="location.href='{{ url_for('community.community') }}'"
>
  <div class="col-4 col-md-2">
    <span class="badge rounded-pill text-bg-success module-name"
      >Community</span
    >
  </div>
  <div class="col-8 col-md-10 flex-column align-items-center px-4 mt-2">
    {% if result.highlight == 'name' %}
    <p class="highlight title-name mb-1 pt-2">{{ result.name }}</p>
    {% else %}
    <p class="title-name mb-1 pt-2">{{ result.name }}</p>
    {% endif %} {% if result.highlight == 'description' %}
    <p class="highlight sub-title-name pt-1">{{ result.description }}</p>
    {% else %}
    <p class="sub-title-name pt-1">{{ result.description }}</p>
    {% endif %} {% if result.highlight == 'creator' %}
    <p class="highlight sub-title-name text-muted">
      Created by: {{ result.creator }}
    </p>
    {% else %}
    <p class="sub-title-name text-muted">Created by: {{ result.creator }}</p>
    {% endif %}
  </div>
</div>
{%- endmacro %}

<!-- request result item -->
{% macro request_result_item(result) -%}
<div
  class="row flex-row text-center align-items-center mb-2"
  onclick="location.href='{{ url_for('post.post_detail', post_id=result.id) }}'"
>
  <div class="col-3 col-md-2">
    <span class="badge rounded-pill text-bg-info module-name">Request</span>
  </div>
  <div class="col-9 col-md-10 flex-column align-items-center px-4 mt-2">
    {% if result.highlight == 'title' %}
    <p class="highlight title-name mb-1 pt-2">{{ result.title }}</p>
    {% else %}
    <p class="title-name mb-1 pt-2">{{ result.title }}</p>
    {% endif %} {% if result.highlight == 'content' %}
    <p class="highlight sub-title-name pt-1">{{ result.content }}</p>
    {% else %}
    <p class="sub-title-name pt-1">{{ result.content }}</p>
    {% endif %} {% if result.highlight == 'author' %}
    <p class="highlight sub-title-name text-muted pt-1">
      Request by: {{ result.author }}
    </p>
    {% else %}
    <p class="sub-title-name text-muted pt-1">
      Request by: {{ result.author }}
    </p>
    {% endif %}
  </div>
</div>
{%- endmacro %}

<!-- reply result item -->
{% macro reply_result_item(result) -%}
<div
  class="row flex-row text-center align-items-center mb-2"
  onclick="location.href='{{ url_for('post.post_detail', post_id=result.id) }}'"
>
  <div class="col-3 col-md-2">
    <span class="badge rounded-pill text-bg-warning module-name">Reply</span>
  </div>
  <div class="col-8 col-md-9 flex-column align-items-center px-4 mt-2">
    <p class="title-name mb-1 pt-2">From Request: {{ result.title }}</p>
    {% if result.highlight == 'content' %}
    <p class="highlight sub-title-name pt-1">{{ result.content }}</p>
    {% else %}
    <p class="sub-title-name pt-1">{{ result.content }}</p>
    {% endif %} {% if result.highlight == 'replier' %}
    <p class="highlight sub-title-name text-muted pt-1">
      Reply by: {{ result.replier }}
    </p>
    {% else %}
    <p class="sub-title-name text-muted pt-1">Reply by: {{ result.replier }}</p>
    {% endif %}
  </div>
</div>
{%- endmacro %}
