<!-- community result item -->
{% macro community_result_item(name, creator) -%}
<div class="row flex-row text-center align-items-center mb-2">
  <div class="col-4 col-md-2">
    <span class="badge rounded-pill text-bg-success module-name"
      >Community</span
    >
  </div>
  <div class="col-8 col-md-10 flex-column align-items-center px-4 mt-2">
    <p class="title-name mb-1 pt-2">{{ name }}</p>
    <p class="sub-title-name text-muted pt-1">Created by: {{ creator }}</p>
  </div>
</div>
{%- endmacro %}

<!-- request result item -->
{% macro request_result_item(title, author) -%}
<div class="row flex-row text-center align-items-center mb-2">
  <div class="col-3 col-md-2">
    <span class="badge rounded-pill text-bg-info module-name">Request</span>
  </div>
  <div class="col-9 col-md-10 flex-column align-items-center px-4 mt-2">
    <p class="title-name mb-1 pt-2">{{ title }}</p>
    <p class="sub-title-name text-muted pt-1">Created by: {{ author }}</p>
  </div>
</div>
{%- endmacro %}

<!-- reply result item -->
{% macro reply_result_item(title, author) -%}
<div class="row flex-row text-center align-items-center mb-2">
  <div class="col-3 col-md-2">
    <span class="badge rounded-pill text-bg-warning module-name">Reply</span>
  </div>
  <div class="col-9 col-md-10 flex-column align-items-center px-4 mt-2">
    <p class="title-name mb-1 pt-2">{{ title }}</p>
    <p class="sub-title-name text-muted pt-1">Created by: {{ author }}</p>
  </div>
</div>
{%- endmacro %}
