<div class="card">
  <link
    rel="stylesheet"
    href="{{ url_for('post.static', filename='style/card.css') }}"
  />

  <div class="card-header">
    <h5 class="card-title">{{ request.title }}</h5>
  </div>
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">
      By: {{ request.author.username }} | Community: {{ request.community.name
      }} | Tag: {{ request.tag.name
      }}
    </h6>
    <div class="card-text" data-content="summary">{{ request.content | safe}}</div>
    <button class="expand-button" onclick="toggleTextExpansion()">
      Show More
    </button>
    <footer class="blockquote-footer">
      Views: {{ request.view_num }}, Likes: {{ request.like_num }}, Replies: {{
        request.reply_num }}, Saved: {{ request.save_num }} |
      {{ request.create_at.strftime('%Y-%m-%d') }}
    </footer>
    {% if current_user.id == request.author_id %}
    <button 
    id="editPostButton"
    data-post-id="{{ request.id }}" 
    class="fa fa-edit btn-edit-request"
    >Edit</button>
    <button 
    id="deletePostButton" data-post-id="{{ request.id }}"
    class="fa fa-trash btn-delete-request">Delete</button>
    {% endif %}
  </div>
  <div class="card-footer">
    <button
      id="like-button"
      class="fa fa-heart btn-like"
      onclick="toggleLike({{ request.id }})"
    >
      LIKE
    </button>
    <button id="save-button" class="fa fa-save btn-save" onclick="toggleSave({{ request.id }})">
      SAVE
    </button>
    <button
      class="fa fa-reply btn-create"
  onclick="window.open('{{ url_for('post.create_comment', post_id=request.id, mode='comment', target_type='post') }}', '_blank')"
    >
      Create New Comment
    </button>

  </div>
</div>
