{% extends "layout.html" %} {% block title %}Create{% endblock %} {% block head%} {{ super() }}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create {{ 'Post' if mode == 'post' else 'Comment' }}</title>
  <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('post.static', filename='style/create.css') }}">
</head>
{%endblock%}
{% block content%}
<div class="container">
  <h1>{{ 'Edit' if mode == 'edit' else 'Create' }} {{ 'Post' if mode == 'post' else 'Comment' }}</h1>  <form id="postForm" method="post">

      {% if mode == 'post' %}
      <div>
          <label for="postTitle">Title:</label>
          <input type="text" id="postTitle" name="title" required placeholder="Enter title">
      </div>
      <div>
        <label for="postCommunity">Community:</label>
        <select id="postCommunity" name="community" required>
            {% for community in communities %}
                <option value="{{ community.name }}">{{ community.name }}</option>
            {% endfor %}
        </select>
      </div>
      <div>
        <label for="postTag">Tag:</label>
        <select id="postTag" name="tag" required>
            {% for tag in tags %}
                <option value="{{ tag.name }}">{{ tag.name }}</option>
            {% endfor %}
        </select>
      </div>
      {% endif %}
      <div id="editor-container"></div>
      <input type="hidden" id="mode" name="mode" value="{{ mode }}">
      <button type="submit">Submit</button>
  </form>
</div>
{% block javascript %}
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="{{ url_for('post.static', filename='js/editor.js') }}">
  </script>
{%endblock%} {%endblock%}