{% extends "layout.html" %} {% block title %}Post{% endblock %} {% block head %}
{{ super() }}
<link
  rel="stylesheet"
  href="{{ url_for('post.static', filename='style/post.css') }}"
/>
{% endblock %} {% block content %}
<div class="d-flex flex-column text-center">
  <div class="post" id="post">
    <div class="card">{% include 'card.html' %}</div>
    <div class="container mt-5">
      <div class="list-group">{% include 'list.html' %}</div>
    </div>
  </div>
</div>
{% block javascript %}
<script src="{{ url_for('post.static', filename='js/post.js') }}"></script>
{% endblock %} {% endblock %}
