{% if total_results %}

<div class="text pb-2">{{ total_results }} results found</div>

{% else %}

<div class="text pb-2">No results found</div>

{% endif %} {% import 'resultItem.html' as item %}

<!-- community result -->

{% for result in community_results %} {{ item.community_result_item(result) }}
{% endfor %}

<!-- request result -->

{% for result in request_results %} {{ item.request_result_item(result) }} {%
endfor %}

<!-- reply result -->

{% for result in reply_results %} {{ item.reply_result_item(result) }} {% endfor
%}
