{% extends "layout.html" %} {% block title %}Popular{% endblock %} {% block head
%} {{ super() }} {% endblock %} {% block content %} {% block css %}
<link
  rel="stylesheet"
  href="{{ url_for('popular.static', filename='style/popular.css') }}"
/>
{% endblock %}
<div class="container">
  <div class="heading_container">
    <h1 contenteditable>Trending Topics</h1>
    <p>
      - Discover the hottest questions and answers currently buzzing on our
      site! -
    </p>
  </div>
  <div class="row justify-content-center mb-5" id="popular">
    <div class="col-12 col-md-6 col-lg-6">
      <ol class="popular-card alternating-colors">
        <div class="text-center">
          <div class="subtitle_style my-2">Top Viewed Posts</div>
        </div>
        {% for item in topViews %} {% import "popularPostItem.html" as
        popularPostItem %} {{ popularPostItem.render_popular_post_item(item) }}
        {% endfor %}
      </ol>
    </div>
    <div class="col-12 col-md-6 col-lg-6">
      <ol class="popular-card alternating-colors">
        <div class="text-center">
          <div class="subtitle_style my-2">Top Replied Posts</div>
        </div>
        {% for item in topReplies %} {% import "popularPostItem.html" as
        popularPostItem %} {{ popularPostItem.render_popular_post_item(item) }}
        {% endfor %}
      </ol>
    </div>
  </div>
</div>

<div class="my-3 gap_line">
  <div class="heading_container">
    <h1 contenteditable>Trending Community</h1>
    <p>
      - Explore the top four trending communities across different categories! -
    </p>
  </div>

  <ul class="tilesWrap">
    {% for item in topCommunities %} {% set index = loop.index %} {% import
    "popularCommunityItem.html" as popularCommunityItem %} {{
    popularCommunityItem.render_popular_community_item(item, index) }} {% endfor
    %}
  </ul>
</div>
{% endblock %}
