<!-- footer -->
{% macro render_footer() -%}

<footer>
  <div
    class="navbar navbar-light bg-body-tertiary d-sm-flex d-md-none fixed-bottom"
  >
    <!-- home -->
    {{ footer_menu_item("Home", url_for('index'), "fa-solid fa-house fa-xl") }}

    <!-- popular -->
    {{ footer_menu_item("Popular", url_for('popular.popular'), "fa-solid fa-bolt
    fa-xl") }}

    <!-- create -->
    {{ footer_menu_item("Create", url_for('post.create'), "fa-solid fa-plus
    fa-xl", "btn btn-danger rounded m-1 px-3") }}

    <!-- community -->
    {{ footer_menu_item("Community", url_for('community.community'), "fa-solid
    fa-users fa-xl") }}

    <!-- search -->
    {{ footer_menu_item("Search", url_for('search.search'), "fa-solid
    fa-magnifying-glass fa-xl") }}
  </div>
</footer>

<footer class="text-center text-lg-start bg-body-tertiary text-muted">
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <div class="me-5 d-none d-lg-block text-center">
      <span>Get connected with us:</span>
    </div>
    <div>
      <a
        href="https://www.linkedin.com/in/hayeen-xue-0a59772b8"
        target="_blank"
        class="me-4 text-reset"
      >
        <i class="fab fa-linkedin"></i>
      </a>
      <a
        href="https://github.com/Hayeensss"
        target="_blank"
        class="me-4 text-reset"
      >
        <i class="fab fa-github"></i>
      </a>
    </div>
  </section>
  <section class="">
    <div class="row mt-3">
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
        <h6 class="text-uppercase fw-bold mb-4">
          <img
            src="{{url_for('static',filename='assets/ASKIFY.jpg')}}"
            alt="logo"
          />
        </h6>
        <p>This page are designed by ASKIFY Team.</p>
        <a href="mailto:gracehayeens@gmail.com">Send Email to us Now!</a>
      </div>
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="text-uppercase fw-bold mb-4">REFERENCES</h6>
        <p></p>

        <p>
          <a href="" class="text-reset">ChatGPT - Fix Grammar</a>
        </p>

        <p>
          <a href="https://www.gravatar.com" class="text-reset">Gravatar API</a>
        </p>
        <p>
          <a href="https://fakerapi.it" class="text-reset">FAKER API</a>
        </p>
      </div>
    </div>
  </section>
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05)">
    © 2024 Copyright:
    <a class="text-reset fw-bold" href="">ASKIFY TEAM</a>
  </div>
</footer>
{%- endmacro %}

<!-- menu item -->

{% macro footer_menu_item(title, url, icon_class, button_class = "btn
btn-outline-dark border-0 m-1") -%}

<a
  class="{{ button_class }}"
  href="{{ url }}"
  role="button"
  title="{{ title }}"
>
  <i class="{{ icon_class }}"></i>
</a>

{%- endmacro %}
