{% import 'components/layout/navBarItem.html' as navItem %}
<div class="container-fluid justify-content-between mx-0 mx-md-2">
  <div class="d-flex">
    <!-- logo -->
    {{
    navItem.logo('https://pub-6a9854a0ccb24e21bc5c2722215877d6.r2.dev/logo.webp')
    }}

    <!-- navlinks -->
    <ul class="navbar-nav flex-row d-none d-md-flex">
      <!-- home navlink -->
      {{ navItem.navlink_item("Home", url_for('index')) }}

      <!-- popular navlink -->
      {{ navItem.navlink_item("Popular", url_for('popular.popular'))}}

      <!-- community navlink -->
      {{ navItem.navlink_item("Community", url_for('community.community')) }}
    </ul>

    <!-- search bar -->
    {{ navItem.search_bar() }}
  </div>

  <!-- right bar -->
  <ul class="navbar-nav flex-row">
    <!-- create button -->
    {{ navItem.create_button(url_for('community.community_management'),
    "Community") }} {{ navItem.create_button(url_for('post.create_post'),
    "Post") }}

    <!-- github icon -->
    {{ navItem.icon_button("github",
    "https://github.com/tonglam/CITS5505_group-project", "fa-brands fa-github
    fa-lg", targetBlank=True) }}

    <!-- notice icon -->
    {{ navItem.icon_button("notice", None, "fa-solid fa-bell fa-lg",
    showBadge=True, badgeNum=notice_num, handleClick =
    "handle_notification_click()" ) }}

    <!-- login bar -->

    <!-- not authenticated -->
    {% if not current_user.is_authenticated %}

    <!-- login icon -->
    {{ navItem.icon_button("login", url_for('auth.auth'), "fa-solid
    fa-arrow-right-to-bracket fa-lg") }}

    <!-- authenticated -->
    {% else %}

    <!-- user profile -->
    {{ navItem.user_profile(current_user) }}

    <!-- end login bar -->
    {% endif %}
  </ul>
</div>
