{% macro render_user_userProfile(user, post_stat) -%}
<div class="userProfile_card d-none" id="userProfileCard">
  <div class="card text-center pr-2">
    <div class="d-flex justify-content-end" id="closeUserProfile">
      <i class="fa-regular fa-circle-xmark fa-lg" style="cursor: pointer"></i>
    </div>
    <div class="mt-3">
      {% if user.email %}
      <div class="d-flex align-items-baseline text-muted">
        <i class="fa-solid fa-envelope pe-2" style="color: #47a7f0"></i>
        <p>{{ user.email }}</p>
      </div>
      {% endif %}
    </div>

    <div class="card-body">
      <div>
        <img
          src="{{ user.avatar_url }}"
          alt="avatar"
          class="avatar-md rounded-circle img-thumbnail"
          onclick="location.href='{{ url_for('user.user') }}'"
        />
      </div>
    </div>
    <div class="flex-1">
      <h5 class="font-size-16 mb-1 pt-1">
        <a href="#" class="text-dark">{{ user.username }}</a>
      </h5>
      <span class="badge badge-soft-danger mb-0">Posts:{{ post_stat }} </span>
      <div class="pt-3">
        <button
          type="button"
          class="btn btn-sm button_style"
          onclick="location.href='{{ url_for('user.user_profile') }}'"
        >
          Manage your account
        </button>
      </div>
    </div>

    <div class="btn-group mt-4" role="group">
      <button
        type="button"
        class="btn btn-outline-secondary"
        onclick="location.href='{{ url_for('user.user') }}'"
      >
        <i class="fa-regular fa-user pe-3" style="color: #74c0fc"></i>
        Profile
      </button>

      <button
        type="button"
        class="btn btn-outline-secondary"
        onclick="location.href='{{ url_for('auth.logout') }}'"
      >
        <i
          class="fa-solid fa-arrow-right-from-bracket pe-3"
          style="color: #74c0fc"
        ></i>
        Sign Out
      </button>
    </div>
  </div>
</div>
{%- endmacro %}
