.icon-1x {
  font-size: 24px !important;
}

.text-primary,
p.text-primary:focus,
p.text-primary:hover {
  color: #00adbb !important;
}

.text-black,
.text-hover-black:hover {
  color: #000 !important;
}

.font-weight-bold {
  font-weight: 700 !important;
}

.indexSidebarContainer {
  visibility: hidden;
  display: none;
  width: 285px;
  height: 801px;
  margin: 0px;
  float: none;
  position: static;
  inset: 85px auto auto;
}

.indexSidebar {
  top: 85px;
}

.index-title {
  text-align: center;
  font-size: calc(1em + 2vmin);
  color: #61b9bd;

  --x-offset: -0.0625em;
  --y-offset: 0.0625em;
  --stroke: 0.025em;
  --background-color: white;
  --stroke-color: lightblue;

  text-shadow:
    var(--x-offset) var(--y-offset) 0px var(--background-color),
    calc(var(--x-offset) - var(--stroke)) calc(var(--y-offset) + var(--stroke))
      0px var(--stroke-color);
}

.index-post-card {
  border-bottom: 1px solid #e0e0e0;
}

.mini-stat {
  padding: 15px;
  margin-bottom: 5px;
}

.mini-stat-icon {
  width: 60px;
  height: 60px;
  display: inline-block;
  line-height: 60px;
  text-align: center;
  font-size: 30px;
  background: none repeat scroll 0% 0% #eee;
  border-radius: 100%;
  color: #fff;
}

.mini-stat-info {
  font-size: 12px;
}

#stat > span,
p {
  color: white;
}

.mini-stat-info span {
  display: block;
  font-size: 30px;
  font-weight: 600;
}

.stat-rounded {
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  border-radius: 3px !important;
}

.bg-user {
  background-color: #db4a39 !important;
  border: 1px solid #db4a39;
  color: white;
}

.fg-user {
  color: #db4a39 !important;
}

.bg-community {
  background-color: #3b5998 !important;
  border: 1px solid #3b5998;
  color: white;
}

.fg-community {
  color: #3b5998 !important;
}

.bg-post {
  background-color: #00a0d1 !important;
  border: 1px solid #00a0d1;
  color: white;
}

.fg-post {
  color: #00a0d1 !important;
}

.bg-like {
  background-color: #205081 !important;
  border: 1px solid #205081;
  color: white;
}

.fg-like {
  color: #205081 !important;
}

////////
.articles a {
  text-decoration: none !important;
  display: block;
  margin-bottom: 0;
  color: #555;
}

.articles .badge {
  font-size: 0.7em;
  padding: 5px 10px;
  line-height: 1;
  margin-left: 10px;
}

.articles .item {
  padding: 20px;
}

.articles .item:nth-of-type(even) {
  background: #fafafa;
}

.articles .item .image {
  min-width: 50px;
  max-width: 50px;
  height: 50px;
  margin-right: 15px;
}

.articles .item img {
  padding: 3px;
  border: 1px solid #28a745;
}

.articles .item h3 {
  color: #555;
  font-weight: 400;
  margin-bottom: 0;
}

.articles .item small {
  color: #aaa;
  font-size: 0.75em;
}

.card-close {
  position: absolute;
  top: 15px;
  right: 15px;
}

.card-close .dropdown-toggle {
  color: #999;
  background: none;
  border: none;
}

.card-close .dropdown-toggle:after {
  display: none;
}

.card-close .dropdown-menu {
  border: none;
  min-width: auto;
  font-size: 0.9em;
  border-radius: 0;
  box-shadow:
    3px 3px 3px rgba(0, 0, 0, 0.1),
    -2px -2px 3px rgba(0, 0, 0, 0.1);
}

.card-close .dropdown-menu a {
  color: #999 !important;
}

.card-close .dropdown-menu a:hover {
  background: #796aee;
  color: #fff !important;
}

.card-close .dropdown-menu a i {
  margin-right: 10px;
  transition: none;
}
