{% extends "layout.html" %} {% block title %}Sign In{% endblock %} {% block head
%} {{ super() }}
<link
  rel="stylesheet"
  href="{{ url_for('auth.static', filename='style/auth.css') }}"
/>
{% endblock %} {% block content %}

<div class="row mt-2">
  <div
    class="container login_container d-none d-md-flex align-items-center justify-content-center text-center mt-5"
    id="login_container_lg"
  >
    <div class="form-container sign-up-container">
      <form
        class="login_form"
        action="{{ url_for('auth.register') }}"
        method="post"
        id="signUpFormLg"
      >
        {{ form.csrf_token and form.csrf_token(id='csrf_token_signUp_lg') }}

        <div class="login_header">Create Account</div>
        <div class="d-flex social-container">
          <a
            href="{{ url_for('auth.authorize', provider='google') }}"
            class="social"
            ><i class="fab fa-google-plus-g"></i
          ></a>
          <a
            href="{{ url_for('auth.authorize', provider='github') }}"
            class="social"
            ><i class="fab fa-github"></i
          ></a>
        </div>
        <span class="longin_text_style2"
          >Or use your email for registration</span
        >
        <input type="text" name="username" placeholder="Name" />
        <input type="email" name="email" placeholder="Email" />
        <input type="password" name="password" placeholder="Password" />
        <input type="password" name="rpassword" placeholder="Repeat Password" />
        <input type="text" name="squestion" placeholder="Security Question" />
        <input type="text" name="sanswer" placeholder="Security Answer" />
        <button type="submit" class="login_btn_style" id="signUpSubmitLg">
          Sign Up
        </button>
      </form>
    </div>

    <div class="form-container sign-in-container">
      <form
        class="login_form"
        action="{{ url_for('auth.login') }}"
        method="post"
        id="signInFormLg"
      >
        {{ form.csrf_token and form.csrf_token(id='csrf_token_signIn_lg') }}
        <div class="login_header">Sign In</div>
        <div class="d-flex social-container">
          <a
            href="{{ url_for('auth.authorize', provider='google') }}"
            class="social"
            ><i class="fab fa-google-plus-g"></i
          ></a>
          <a
            href="{{ url_for('auth.authorize', provider='github') }}"
            class="social"
            ><i class="fab fa-github"></i
          ></a>
        </div>
        <span class="longin_text_style2">Or use your account</span>
        <input type="email" name="email" placeholder="Email" />
        <input type="password" name="password" placeholder="Password" />
        <a href="{{ url_for('auth.forgot_password') }}">Forgot password?</a>
        <button type="submit" class="login_btn_style" id="signInSubmitLg">
          Sign In
        </button>
        <div class="d-flex align-items-center mt-3">
          <input
            class="form-check-input remember_me"
            type="checkbox"
            value="checked"
            id="rememberMe"
            name="rememberMeLg"
            checked
          />
          <label class="form-check-label" for="rememberMe">Remember Me</label>
        </div>
      </form>
    </div>

    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1 class="login_header1">Welcome Back!</h1>
          <p class="login_text_style">
            To keep connected with us please login with your personal info.
          </p>
          <button
            class="ghost login_btn_style"
            id="signIn"
            type="submit"
            id="signInSubmitSm"
          >
            Sign In
          </button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1 class="login_header1">Hi, There!</h1>
          <p class="login_text_style">
            Let's get you signed in and straight to the answer!
          </p>
          <button
            class="ghost login_btn_style"
            type="button"
            id="signUpSubmitSm"
          >
            Sign Up
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Nav for small screen - login and register -->
  <div class="login_container d-sm-flex d-md-none text-center">
    <ul class="nav nav-pills justify-content-center mb-3" role="tablist">
      <li class="nav-item" role="presentation">
        <a
          class="nav-link active"
          id="login-tab"
          href="#pills-login"
          data-bs-toggle="pill"
          role="tab"
          aria-controls="pills-login"
          aria-selected="true"
          >Login</a
        >
      </li>
      <li class="nav-item" role="presentation">
        <a
          class="nav-link"
          id="register-tab"
          href="#pills-register"
          data-bs-toggle="pill"
          role="tab"
          aria-controls="pills-register"
          aria-selected="false"
          >Register</a
        >
      </li>
    </ul>

    <!-- signIn for small screen -->
    <div class="tab-content">
      <div
        class="tab-pane fade show active"
        id="pills-login"
        role="tabpanel"
        aria-labelledby="login-tab"
      >
        <form
          action="{{ url_for('auth.login') }}"
          method="post"
          id="signInFormSm"
        >
          {{ form.csrf_token and form.csrf_token(id='csrf_token_signIn_sm') }}
          <div class="login_header">Sign In</div>
          <div class="d-flex justify-content-center">
            <div class="social-container">
              <a
                href="{{ url_for('auth.authorize', provider='google') }}"
                class="social"
                ><i class="fab fa-google-plus-g"></i
              ></a>
              <a
                href="{{ url_for('auth.authorize', provider='github') }}"
                class="social"
                ><i class="fab fa-github"></i
              ></a>
            </div>
          </div>
          <span class="longin_text_style2">Or use your account</span>
          <input
            type="email"
            name="email"
            placeholder="Email"
            autocomplete="on"
          />
          <input type="password" name="password" placeholder="Password" />
          <div class="py-2">
            <a href="{{ url_for('auth.forgot_password') }}">Forgot password?</a>
          </div>
          <button class="login_btn_style">Sign In</button>
        </form>
      </div>

      <!-- registration for small screen -->
      <div
        class="tab-pane fade"
        id="pills-register"
        role="tabpanel"
        aria-labelledby="register-tab"
      >
        <form
          action="{{ url_for('auth.register') }}"
          method="post"
          id="signUpFormSm"
        >
          {{ form.csrf_token and form.csrf_token(id='csrf_token_signUp_sm') }}
          <div class="login_header">Create Account</div>
          <div class="d-flex justify-content-center">
            <div class="social-container">
              <a
                href="{{ url_for('auth.authorize', provider='google') }}"
                class="social"
                ><i class="fab fa-google-plus-g"></i
              ></a>
              <a
                href="{{ url_for('auth.authorize', provider='github') }}"
                class="social"
                ><i class="fab fa-github"></i
              ></a>
            </div>
          </div>
          <span class="longin_text_style2"
            >Or use your email for registration</span
          >
          <input type="text" name="username" placeholder="Name" />
          <input type="email" name="email" placeholder="Email" />
          <input type="password" name="password" placeholder="Password" />
          <input
            type="password"
            name="rpassword"
            placeholder="Repeat Password"
          />
          <input type="text" name="squestion" placeholder="Security Question" />
          <input type="text" name="sanswer" placeholder="Security Answer" />
          <div class="pt-2 mb-5">
            <button type="submit" class="login_btn_style" id="signUpSubmitSm">
              Sign Up
            </button>
            <p class="text-center mt-3" id="policy-font">
              * By signing up, you agree to our Terms of Use Privacy Policy.
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% block javascript %}
<script
  type="module"
  src="{{ url_for('auth.static', filename='js/auth.js') }}"
></script>
{% endblock %} {% endblock %}
