{% extends "layout.html" %} {% block title %}Home{% endblock %} {% block head %}
{{ super() }} {% endblock %} {% block content %}

<div class="row mt-2">
  <div class="col-0 col-lg-4" id="leftContainer"></div>

  <div class="col-0 col-lg-4" id="centerContainer">
    <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
      <li class="nav-item" role="presentation">
        <a
          class="nav-link active"
          id="tab-login"
          data-mdb-pill-init
          href="#pills-login"
          role="tab"
          aria-controls="pills-login"
          aria-selected="true"
          >Login</a
        >
      </li>
      <li class="nav-item" role="presentation">
        <a
          class="nav-link"
          id="tab-register"
          data-mdb-pill-init
          href="#pills-register"
          role="tab"
          aria-controls="pills-register"
          aria-selected="false"
          >Register</a
        >
      </li>
    </ul>

    <div class="tab-content text-center align-items-center">
      <div
        class="tab-pane fade show active"
        id="pills-login"
        role="tabpanel"
        aria-labelledby="tab-login"
      >
        <form action="{{url_for('auth.login')}}" method="post">
          <div class="text-center mb-3">
            <p>Sign in with:</p>

            <a
              data-mdb-ripple-init
              class="btn text-white btn-floating btn-lg m-1"
              style="background-color: #dd4b39"
              href="{{url_for('auth.oauth2_authorize', provider='google')}}"
              role="button"
              ><i class="fab fa-google fa-2xl"></i
            ></a>

            <a
              data-mdb-ripple-init
              class="btn text-white btn-floating btn-lg m-1"
              style="background-color: #333333"
              href="{{url_for('auth.oauth2_authorize', provider='github')}}"
              role="button"
              ><i class="fab fa-github fa-2xl"></i
            ></a>
          </div>

          <p class="text-center">or:</p>

          <div data-mdb-input-init class="form-outline mb-4">
            <input
              type="text"
              id="loginName"
              name="loginName"
              class="form-control"
              autocomplete="on"
            />
            <label class="form-label" for="loginName">Email or username</label>
          </div>

          <div data-mdb-input-init class="form-outline mb-4">
            <input
              type="password"
              id="loginPassword"
              name="loginPassword"
              class="form-control"
            />
            <label class="form-label" for="loginPassword">Password</label>
          </div>

          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary btn-block w-50">
              Sign in
            </button>
          </div>
        </form>
      </div>

      <div
        class="tab-pane fade"
        id="pills-register"
        role="tabpanel"
        aria-labelledby="tab-register"
      >
        <form action="{{url_for('auth.register')}}" , method="post">
          <div data-mdb-input-init class="form-outline mb-4">
            <input
              type="text"
              id="registerUsername"
              name="registerUsername"
              class="form-control"
            />
            <label class="form-label" for="registerUsername">Username</label>
          </div>

          <div data-mdb-input-init class="form-outline mb-4">
            <input
              type="email"
              id="registerEmail"
              name="registerEmail"
              class="form-control"
              autocomplete="on"
            />
            <label class="form-label" for="registerEmail">Email</label>
          </div>

          <div data-mdb-input-init class="form-outline mb-4">
            <input
              type="password"
              id="registerPassword"
              name="registerPassword"
              class="form-control"
              autocomplete="on"
            />
            <label class="form-label" for="registerPassword">Password</label>
          </div>

          <div data-mdb-input-init class="form-outline mb-4">
            <input
              type="password"
              id="registerRepeatPassword"
              name="registerRepeatPassword"
              class="form-control"
            />
            <label class="form-label" for="registerRepeatPassword"
              >Repeat password</label
            >
          </div>

          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary btn-block w-50">
              Sign up
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="col-0 col-lg-4" id="rightContainer"></div>
</div>

{% endblock %}
