{% extends "layout.html" %} {% block title %}Forgot Password{% endblock %} {%
block head %} {{ super() }}
<link
  rel="stylesheet"
  href="{{ url_for('auth.static', filename='style/auth.css') }}"
/>{% endblock %} {% block content %}

<div class="forger-style row mt-2 mb-5">
  {% for error in form.errors %} {% for message in form.errors.get(error) %}
  <div
    id="alert"
    class="sticky-top alert alert-danger alert-dismissible text-center fade show"
    role="alert"
  >
    {{ "[{}] Error: {}".format(error.upper(), message) }}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  {% endfor %} {% endfor %}

  <!-- Forgot password form -->
  <div class="fgtpassword_box">
    <form
      class="fgtpassword_form"
      action="{{ url_for('auth.forgot_password') }}"
      method="post"
      autocomplete="off"
    >
      {{ form.csrf_token }}
      <!-- Return to Login button -->
      <div class="d-flex justify-content-center pb-3">
        <button class="return_btn" id="forgotReturn">
          <span></span>
          <span></span>
          <span></span>
          <span></span>Return
        </button>
      </div>
      <h2>Reset Your Password</h2>
      <div class="user-box">
        <input type="text" name="email" />
        <label class="labelStyle">Email</label>
      </div>
      <div class="user-box">
        <input type="text" name="squestion" />
        <label class="labelStyle">Security Question</label>
      </div>
      <div class="user-box">
        <input type="text" name="sanswer" />
        <label class="labelStyle">Security Answer</label>
      </div>
      <div class="user-box">
        <input type="password" name="password" />
        <label class="labelStyle">Set New Password</label>
      </div>
      <div class="user-box">
        <input type="password" name="rpassword" />
        <label class="labelStyle">Repeat New Password</label>
      </div>

      <!-- submit button -->
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-lg">
          <span></span>
          <span></span>
          <span></span>
          <span></span>Submit
        </button>
      </div>
    </form>
  </div>
</div>
{% block javascript %}
<script
  type="module"
  src="{{ url_for('auth.static', filename='js/auth.js') }}"
></script>
{% endblock %} {% endblock %}
