{% extends "layout.html" %} {% block title %}Home{% endblock %} {% block head %}
{{ super() }} {% endblock %} {% block content %}
<div class="row mt-2">
  {% for error in form.errors %} {% for message in form.errors.get(error) %}
  <div
    id="alert"
    class="sticky-top alert alert-danger alert-dismissible text-center fade show"
    role="alert"
  >
    {{ "[{}] Error: {}".format(error.upper(), message) }}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  {% endfor %} {% endfor %}

  <div class="col-0 col-lg-4" id="leftContainer"></div>

  <div class="col-0 col-lg-4" id="centerContainer">
    <form action="{{ url_for('auth.login') }}" method="post">
      {{ form.csrf_token }}

      <div data-mdb-input-init class="form-outline mb-4">
        <input
          type="text"
          id="email"
          name="email"
          class="form-control"
          autocomplete="on"
          onfocusout=""
        />
        <label class="form-label" for="email">Email</label>
      </div>

      <div data-mdb-input-init class="form-outline mb-4">
        <input
          type="text"
          id="security_question"
          name="security_question"
          class="form-control"
        />
        <label class="form-label" for="security_question"
          >Security Question</label
        >
      </div>

      <div data-mdb-input-init class="form-outline mb-4">
        <input
          type="text"
          id="security_answer"
          name="security_answer"
          class="form-control"
        />
        <label class="form-label" for="security_answer">Security Answer</label>
      </div>

      <div data-mdb-input-init class="form-outline mb-4">
        <input
          type="password"
          id="password"
          name="password"
          class="form-control"
        />
        <label class="form-label" for="password">Password</label>
      </div>

      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary btn-block">
          Reset Password
        </button>
      </div>
    </form>
  </div>

  <div class="col-0 col-lg-4" id="rightContainer"></div>
</div>
{% endblock %}
