{% extends "layout.html" %} {% block title %}Sign Up{% endblock %} {% block head
%} {{ super() }} {% endblock %} {% block content %}

<div class="row mt-2">
  {% for error in form.errors %} {% for message in form.errors.get(error) %}
  <div
    id="alert"
    class="sticky-top alert alert-danger alert-dismissible text-center fade show"
    role="alert"
  >
    {{ "[{}] Error: {}".format(error.upper(), message) }}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  {% endfor %} {% endfor %}

  <div class="col-0 col-lg-4" id="leftContainer"></div>

  <div class="col-0 col-lg-4" id="centerContainer">
    <form action="{{ url_for('auth.register') }}" method="post">
      {{ form.csrf_token and form.csrf_token() }}

      <div data-mdb-input-init class="form-outline mb-4">
        <input type="text" id="username" name="username" class="form-control" />
        <label class="form-label" for="username">Username</label>
      </div>

      <div data-mdb-input-init class="form-outline mb-4">
        <input
          type="email"
          id="email"
          name="email"
          class="form-control"
          autocomplete="on"
        />
        <label class="form-label" for="email">Email</label>
      </div>

      <div data-mdb-input-init class="form-outline mb-4">
        <input
          type="password"
          id="password"
          name="password"
          class="form-control"
          autocomplete="on"
        />
        <label class="form-label" for="password">Password</label>
      </div>

      <div data-mdb-input-init class="form-outline mb-4">
        <input
          type="password"
          id="confirm"
          name="confirm"
          class="form-control"
        />
        <label class="form-label" for="confirm">Repeat password</label>
      </div>

      <div data-mdb-input-init class="form-outline mb-4">
        <input
          type="text"
          id="security_question"
          name="security_question"
          class="form-control"
        />
        <label class="form-label" for="security_question"
          >Security Question</label
        >
      </div>

      <div data-mdb-input-init class="form-outline mb-4">
        <input
          type="text"
          id="security_answer"
          name="security_answer"
          class="form-control"
        />
        <label class="form-label" for="security_answer">Security Answer</label>
      </div>

      <div class="pb-3">
        <label class="form-label" for="avatarFile">Upload Avatar</label>
        <input type="file" class="form-control" id="avatarFile" />
      </div>

      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary btn-block w-50">
          Sign Up
        </button>
      </div>
    </form>
  </div>

  <div class="col-0 col-lg-4" id="rightContainer"></div>
</div>

{% block javascript %}
<script
  type="module"
  src="{{ url_for('auth.static', filename='js/auth.js') }}"
></script>
{% endblock %} {% endblock %}
