<div id="index-posts">
  <!-- Posts -->
  {% import './components/index/postItem.html' as postItem %}

  <!-- Divide Group -->
  {% set group_size = (posts | length / 5) | round(0, 'ceil') %} {% for group in
  posts | batch(group_size) %}

  <!-- 1/5 -->
  {% if loop.index == 1 %} {% for post in group %}
  {{postItem.render_post_item(post, "primary") }} {% endfor %} {% endif %}

  <!-- 2/5 -->
  {% if loop.index == 2 %} {% for post in group %}
  {{postItem.render_post_item(post, "warning") }} {% endfor %} {% endif %}

  <!-- 3/5 -->
  {% if loop.index == 3 %} {% for post in group %}
  {{postItem.render_post_item(post, "success") }} {% endfor %} {% endif %}

  <!-- 4/5 -->
  {% if loop.index == 4 %} {% for post in group %}
  {{postItem.render_post_item(post, "info") }} {% endfor %} {% endif %}

  <!-- 5/5 -->
  {% if loop.index == 5 %} {% for post in group %}
  {{postItem.render_post_item(post, "danger") }} {% endfor %} {% endif %}

  <!-- End Divide Group -->
  {% endfor %}

  <!-- Posts Pagination -->
  <div class="mt-5">
    {% import './components/pagination.html' as pageItem %} {{
    pageItem.render_pagination(pagination) }}
  </div>
</div>
