{% extends "layout.html" %} {% block title %}Home{% endblock %} {% block head %}
{{ super() }} {% block css %}
<link rel="stylesheet" href="/static/style/index.css" />
{% endblock %} {% endblock %} {% block content %}
<div class="container">
  <!--  Re-Render -->
  <p class="d-none" id="render-id">{{ render_id }}</p>
  <p class="d-none" id="render-url">{{ render_url }}</p>

  <!-- title with logo -->

  <div class="mainHeading">
    <div class="mainHeading__content">
      <article class="mainHeading__text">
        <img
          src="https://pub-6a9854a0ccb24e21bc5c2722215877d6.r2.dev/ASKIFY.webp"
          width="300"
          alt="logotransparent"
          class="headding_img"
        />
        <h2 class="mainHeading__title">Unlocking Knowledge</h2>
        <p class="mainHeading__description">
          Welcome to ASKIFY, where you can ask questions, find answers, and
          share knowledge on various topics. Join our community to explore
          trending discussions and engage with others.
        </p>
      </article>

      <figure class="mainHeading__image">
        <img
          src="https://images.unsplash.com/photo-1520856707909-75c4048cc858?ixlib=rb-1.2.1&auto=format&fit=crop&w=1534&q=80"
          alt="index background image"
        />
      </figure>
    </div>
  </div>

  <div class="row container_padding" id="content">
    <!-- Main content -->
    <div class="col-lg-8 mb-3">
      <div class="row text-left mb-3">
        <div class="col-lg-6 mb-3 mb-sm-0">
          <div
            class="dropdown bootstrap-select form-control search_container form-control-lg bg-white bg-op-9 text-sm w-lg-50 w-100"
          >
            <select
              id="community-select"
              class="form-control form-control-lg search_container bg-white bg-op-9 text-sm w-lg-50"
              data-toggle="select"
              tabindex="-98"
            >
              <option id="all-community">Community</option>
              {% for option in community_options %} {% if option.value ==
              community_id %}
              <option id="{{ option.value }}" selected>
                {{ option.label }}
              </option>
              {% else %}
              <option id="{{ option.value }}">{{ option.label }}</option>
              {% endif %} {% endfor %}
            </select>
          </div>
        </div>
        <div class="col-lg-6 text-lg-right">
          <div
            class="dropdown bootstrap-select form-control search_container form-control-lg bg-white bg-op-9 ml-auto text-sm w-lg-50 w-100"
          >
            <select
              id="sort-select"
              class="form-control form-control-lg search_container bg-white bg-op-9 ml-auto text-sm w-lg-50"
              data-toggle="select"
              tabindex="-98"
            >
              <option id="all-sort">Sort by</option>
              <option id="create_at_desc">Create Time</option>
              <option id="reply_num_desc">Replies</option>
              <option id="view_num_desc">Views</option>
              <option id="like_num_desc">Likes</option>
            </select>
          </div>
        </div>
      </div>

      <div id="index-posts">{% include './indexPost.html' %}</div>
    </div>

    <!-- Sidebar content -->
    <div class="col-lg-4 mb-4 mb-lg-0 px-lg-0 mt-lg-0">
      <div class="indexSidebarContainer" id="sidebar"></div>
      <div
        data-settings='{"parent":"#content","mind":"#header","top":10,"breakpoint":992}'
        data-toggle="sticky"
        class="sticky indexSidebar"
      >
        <div class="sticky-inner" id="stat">
          <div class="bg-white text-sm">
            <h4 class="px-3 py-3 op-5 m-0 roboto-bold index-title">
              Asktify Stats
            </h4>

            {% include './components/index/statItem.html' %}

            <div class="bg-white mb-3 mt-2" id="popular">
              <h4 class="px-3 py-3 op-5 m-0 index-title">Trending Posts</h4>

              <div class="articles card">
                <div class="card-body no-padding">
                  {% for popular in populars %} {% import
                  './components/index/popularItem.html' as popularItem %} {{
                  popularItem.render_popular_item(popular) }} {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% block javascript %}
      <script src="{{ url_for('static', filename='js/index.js') }}"></script>
      {% endblock %}
    </div>
  </div>
</div>
{% endblock %}
