<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% block head %}

    <!-- global links -->
    {% import './components/layout/globalLinks.html' as globalLinks %} {{
    globalLinks.render_links() }}

    <!-- page title -->
    <title>{% block title %}Welcome{% endblock %} - Request Forum</title>

    <!-- end head -->
    {% endblock %}
  </head>

  <body>
    <header>
      <!-- navbar -->
      {% import './components/layout/navBar.html' as navBar %} {{
      navBar.render_navBar(user, current_user, notice_num) }}
    </header>

    <main class="container-fluid vw-50 p-4">
      <!-- alert message -->
      {% import './components/alert.html' as alert %} {{
      alert.render_sticky_alert() }}

      <!-- page content -->
      <div>{% block content %}{% endblock %}</div>
    </main>

    <!-- footer -->
    {% import './components/layout/footer.html' as footer %} {{
    footer.render_footer() }}

    <!-- global scrpits -->
    {% import './components/layout/globalScripts.html' as globalScripts %} {{
    globalScripts.render_scripts() }}
  </body>
</html>
